<?xml version="1.0" encoding="utf-8" standalone="no"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogWriterLogDir" value="Logs\SmsQueueSenderService\"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MasterConnectionString" value="e3zTUFCZjnZYJK4VZ6xlbr7rdE+MOYGUFn0ob9FwRyOCFwu5z4QtMdr4VZ5IMy4HrcJZXZOc7cfDBdyarUg1ArVt4vVTDQY9OmkltZbYovvOLXzClGJ6P3oTQCoX7vjLu0fD0pHcwHYgZOw3MtV4PoWdf90CNE7BBu5W06LOpVdIv+xkJ4IkVtcgMCWmI8SZPJJeFGs7JCwzDUQF5B+bqg==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ConnectionString" value="J6lWpFzEZl4FwjVfGYWuyPvaW8cbJwDrp+syQ4JIcnJSImfKQ+YIRT/f+ZbMZYvUGZwXo2bCwU1z1Plw0f9tkesKB05giUWTlCIaKPBQcPYdxK+M3pqio+PrNMnOC0rHPl9taB11PpjnuwVETVv4nu0f6pESqyfIgDyTJhVIY5Blhv3gspvx/r5AsRqWUelv" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="AtssSettingsEndpoint" value="http://webapi.mymarketing.co.il/api/smscampaign/ATSS/settings"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AtssDeliveryEndpoint" value="http://webapi.mymarketing.co.il/api/smscampaign/ATSS/delivery"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApiAuthKey" value="0X30A097ECF49813DE9B5D38307FC00B0F82DF4E55769C0F3E9D34FF8220473184F51E24BC221B60BD552835B8FF6C759D"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </appSettings>



</configuration>