<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataAccessSettings" type="Framework.DataAccess.DataAccessSettingsHandler, Framework" />
    <section name="transactionHandlingSettings" type="Framework.Transactions.TransactionHandlingSettingsHandler, Framework" />
    <section name="activecache" type="System.Configuration.DictionarySectionHandler,system, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
		<add name="RavenDb" connectionString="Url = http://localhost:5317" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
    <!-- smsSendingQueue -->
    <add key="SmsSenderQueueName" value=".\Private$\sms_sending_queue" />
    <add key="SmsDeliveryQueueName" value=".\Private$\sms_delivery_queue" />
    <add key="SmsTmmSenderQueueName" value=".\Private$\sms_sending_queue_tmm" />
    <add key="SmsTestSenderQueueName" value=".\Private$\sms_sending_queue_test" />

    <!-- settingsSmsService -->
    <add key="LogWriterLogDir" value="D:\_Branch_01\\Logs\Services.SmsQueueSender\" />
    <!-- Number of seconds between each interval for the log engine -->
    <add key="LogEngineInterval" value="2" />
    <!-- External logging-->
    <add key="EnableLogExternally" value="1" />
    <add key="LogSystemType" value="ATSS" />
    <!-- Taken from TypesServiceStateTypes (Enums.cs in BL) -->
    <add key="ServiceTypeName" value="ATSS" />
    <!-- LOCAL -->
    <add key="MasterConnectionString" value="i6SSg21D7MTzySmVDXpqiEpMYYjqiz3Bz8YmnLFdqzLK3zCQpqXlqNFmve3ooOU5HiST7hIeYPfVqEgOA9AJkiFnJtSto5V6dDjcl/4ntIAGP48g8/ANYiwPBbPB7bzNVJQuUApBtBE/pLN9BfDGRcn7hhCrwzQXyx3N8Aqloy4=" />

    <!-- DEV  -->
    <!--<add key="MasterConnectionString" value="vxQJW3qZhN1PoEUDe/a/7vAZWnXmQ5/vf1/HKk/dIsM2zTvo+0dmQ1h32cUSrWaMgpD2saZ881j/zdaq+qMOnN4bzaM/cGv56wIjLvNLPo9ysbV6d1gZu27qLBvOBlKFsoe+CPzIYvnUn/Y60IuqRPhXHS3awCPTm8ZUNpodKSw=" />-->

    <!-- QA 
    <add key="MasterConnectionString" value="l0bbMkcG+VLiiHTtcKDT9gEj3IPGAqnSK3wT4tb5fseMljmYeibVkn7yIsSTrpcBmZ+CVPBrJOh+CZg57Si2W1cf9juneW+nz/HtbzYLPvyKYcVR1UslZz1WGjEjEe5rce4qtFvLTzHSVuFdfXR5BTCyME9Ixh6qT5ILFoBXlLA="  />
    -->
    <!-- Staging 
    <add key="MasterConnectionString" value="l0bbMkcG+VLiiHTtcKDT9gEj3IPGAqnSK3wT4tb5fseMljmYeibVkn7yIsSTrpcBmZ+CVPBrJOh+CZg57Si2W1cf9juneW+nz/HtbzYLPvyKYcVR1UslZz1WGjEjEe5rce4qtFvLTzHSVuFdfXR5BTCyME9Ixh6qT5ILFoBXlLA="   />
    -->
    <add key="ConnectionString" value="vxQJW3qZhN1PoEUDe/a/7vAZWnXmQ5/vf1/HKk/dIsM2zTvo+0dmQ1h32cUSrWaMgpD2saZ881j/zdaq+qMOnN4bzaM/cGv56wIjLvNLPo9ysbV6d1gZu27qLBvOBlKFsoe+CPzIYvnUn/Y60IuqRPhXHS3awCPTm8ZUNpodKSw=" />

    <add key="InitializationVector" value="OWFrczAyMSFAczMjNzgyOQ==" />

    <add key="AtssSettingsEndpoint" value="http://localhost:2002/api/smscampaign/ATSS/settings" />
    <add key="AtssDeliveryEndpoint" value="http://localhost:2002/api/smscampaign/ATSS/delivery" />
    <add key="ApiAuthKey" value="0XCE182B0DE05E9FFE68A91978357B218A37BAC92E747514938760AE0768634226EF144682D46D1CE7552835B8FF6C759D" />
    <!-- In SECONDS -->
    <add key="SendingTime" value="15" />
    <!-- In MINUTES -->
    <add key="DeliveryTime" value="15" />

    <add key="MessagesCount" value="100" />
    <add key="EngineSleepTime" value="10000" />
    <add key="WorkersCount" value="10" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <dataAccessSettings xmlns="Framework.DataAccess">
    <dataProviders>
      <dataProvider name="SqlClient" connectionType="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" commandType="System.Data.SqlClient.SqlCommand, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterType="System.Data.SqlClient.SqlParameter, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterDbType="System.Data.SqlDbType, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterDbTypeProperty="SqlDbType" dataAdapterType="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" commandBuilderType="System.Data.SqlClient.SqlCommandBuilder, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterNamePrefix="@" />
    </dataProviders>
    <dataSources></dataSources>
  </dataAccessSettings>
  <transactionHandlingSettings xmlns="Framework.Transactions">
    <transactionHandler name="HomeGrown" handlerType="Framework.DataAccess.TransactionHandling.HomeGrownTransactionHandler, Framework" />
  </transactionHandlingSettings>
  <activecache>
    <add key="fastStorageCapacity" value="2000" />
    <add key="fastStorageInitialSize" value="100" />
    <!-- Time in milliseconds -->
    <add key="fastStorageItemLifeTime" value="60" />
    <!-- Time in milliseconds -->
    <add key="storagePath" value="D:\ActiveCache" />
    <!-- Size in MB or number Items -->
    <add key="slowStorageCapacityType" value="MB" />
    <add key="slowStorageCapacity" value="20000" />
    <add key="slowStorageItemLifeTime" value="20000" />
  </activecache>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Parse.Net" publicKeyToken="986a9aa31056680b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.2" newVersion="3.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.1.0" newVersion="6.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true" />
  </runtime>



  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>