<?xml version="1.0" encoding="utf-8" standalone="no"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <appSettings>
    <add key="Environment" value="Staging" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogWriterLogDir" value="Logs\SmsQueueSenderService\"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MasterConnectionString" value="bk6NtI7joFbdvdIewgj52lUUqaLImDGNQpAqR5/Q/ihj/b5iM+S9fDniCY4+R2Ur4w41aW8gBBzE8Qv59Sm9gb59mFyGhQoUGQmqTRUDneeyLKTtE25NNh/JuZwnf6S225ZMxWOcF7AQLpQBCmJutXplGlchXMnMEM/6fmm14dg=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AtssSettingsEndpoint" value="http://api-atstaging01.deliverdog.com/api/smscampaign/ATSS/settings"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AtssDeliveryEndpoint" value="http://api-atstaging01.deliverdog.com/api/smscampaign/ATSS/delivery"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApiAuthKey" value="0XBFE1BDAE811AF8E08FBDA68E7EEA84420EAA838BC6790356C07D21BB7FA4BEF2D8C1DEA548B0A7A1552835B8FF6C759D"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>