<?xml version="1.0" encoding="utf-8" standalone="no"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="QA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogWriterLogDir" value="Logs\SmsQueueSenderService\"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MasterConnectionString" value="l0bbMkcG+VLiiHTtcKDT9gEj3IPGAqnSK3wT4tb5fseMljmYeibVkn7yIsSTrpcBmZ+CVPBrJOh+CZg57Si2W1cf9juneW+nz/HtbzYLPvyKYcVR1UslZz1WGjEjEe5rce4qtFvLTzHSVuFdfXR5BTCyME9Ixh6qT5ILFoBXlLA="  xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="AtssSettingsEndpoint" value="https://api-atqaapp01.deliverdog.com/api/smscampaign/ATSS/settings"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AtssDeliveryEndpoint" value="https://api-atqaapp01.deliverdog.com/api/smscampaign/ATSS/delivery"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApiAuthKey" value="0X74CCB850597EFD12409836F6478502A7F3CCD775CD4C951D6D143AED8C219219FC3E7FC2E6ECEDAF552835B8FF6C759D"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  
</configuration>
